# 4.6 Combining and Exporting Data

# Exercise Practice

## 1 Import libraries and new data set

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create path

path = r'C:\Users\leobs\OneDrive\Data Program\Achievement 4_Instacart\Instacart Basket Analysis'

In [3]:
# Import new data set containing prior orders

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# Check import

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Import df_ords from preparted data, after wrangled and checked

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [6]:
# Check output
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
# Check shape

df_ords_prior.shape

(32434489, 4)

In [8]:
# Check shape

df_ords.shape

(3421083, 6)

Large shape significies every order of every user, dataframes do not have the same number of columns but do have matching column 'order_id'

Note in example excercise says df_ords has 7 columns, but only 6 shown in output in this notebook and in screenshot of example notebook

## Merge dataframes

In [11]:
# Inner merge dataframes based on 'order_id'

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
# Check for full match of dataframes in merge

df_merged_large['_merge'].value_counts()

Appears full match, but not. Inner merge only included entries contained in both datasets
In future using left only returns 206209 left_only entries
This is practice, so won't apply changes

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Export as pickle

In [14]:
## Export df_merged_large

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_large.pkl'))